.content-meta {
  margin-top: 0;
  color: var(--darkgray);
  font-family: cursive;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
